.user-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}

.sort-name-btn {
    cursor: pointer;
    margin-left: 30px;
    height: 30px;
    border-radius: 50px;
    border: none;
    background-color: #e0d9d9;
}

.sort-age-btn {
    cursor: pointer;
    margin-left: 10px;
    height: 30px;
    border-radius: 50px;
    border: none;
    background-color: #e0d9d9;
}

.sort-age-btn:hover, .sort-name-btn:hover {
    background-color: #ada5a5;
}

.input-container {
    margin: 2rem 0px 1rem 2rem;
}

.searchBar {
    box-shadow: 0 0px 0px 2px lightblue;
    border: none;
    height: 1.5rem;
    width: 20rem;
    padding: 0 5px;
    outline: none;
}

.searchClass {
    margin: 0 0.3rem;
    border-radius: 3px;
}

.searchButton {
    height: 1.8rem;
    background-color: white;
    border: 1px solid rgb(48, 210, 255);
    color: rgb(48, 210, 255);
    cursor: pointer;
}

table {
    margin-left: 34vw;
    margin-top: 5vh;
    border: 2px solid grey;
    border-radius: 5px;
    height: 300px;
    width: 400px;
    padding-top: 10px;
    padding-right: 20px;
    font-size: larger;
}

td {
    padding-left: 35px;
}

.info-banner {
    background-color: rgb(204,229,255);
    border-radius: 50px;
    color: rgb(89,136,187);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 30vw;
    margin-left: 39vw;
    margin-top: 5vh;
    font-size: larger;
}

@media (max-width: 768px) {
    .user-container {
        display: flex;
        justify-content: space-evenly;
    }

    table {
        margin-left: 40px;
        width: 375px;
    }

    .info-banner {
        width: 270px;
        margin-left: 70px;
        padding: 10px;
    }
}

@media (max-width: 530px) {
    .user-container {
        display: inline-block;
    }

    .sort-age-btn {
        display: flex;
        align-items: center;
        margin: 10px 30px;
        padding: 2px;
    }
    .sort-name-btn {
        display: flex;
        align-items: center;
    }

    .info-banner {
        width: 250px;
        margin-left: 50px;
        padding: 10px;
    }
}

@media (max-width: 460px) {
    table {
        width: 200px;
        margin-left: 20px;
    }
    .info-banner {
        width: 230px;
        margin-left: 20px;
        padding: 10px;
    }
}

@media (max-width: 360px) {
    .searchBar {
        width: 12rem;
    }
}

@media (max-width: 310px) {
    table {
        height: 250px;
        width: 90px;
    }

    .info-banner {
        width: 230px;
        margin-left: 20px;
        padding: 10px;
    }
}